<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>This is the list manager</h1>
      <ul>
        <li *ngFor="let item of myList">{{ item }}</li>
      </ul>

      <div>
        <input
          (keydown.enter)="addItem($event)"
          placeholder="Enter new item"
          [(ngModel)]="newItem"
        />
        <button (click)="clearList()">Clear List</button>
      </div>
    </div>
  </body>
</html>
