<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="app-container">
      <div>
        <h1>Welcome to {{ title }}</h1>
        <h3>This is a list of users gotten from an api endpoint</h3>
        <div>
          <ul>
            @for (user of users; track user.id) {
            <li>{{ user.name }}</li>
            }@empty { No users found }
          </ul>
        </div>
        <div *ngFor="let user of users">
          <app-user-card></app-user-card>
        </div>
      </div>
    </div>
  </body>
</html>
