<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div *ngIf="userDetails !== null">
      <h2>User Details</h2>
      <div>
        {{ userDetails | json }}
        <div class="user-card">
          <img [src]="" alt="User Avatar" />
          <h2>{{ userDetails.name }}</h2>
          <p>User ID: {{ userDetails.id }}</p>
          <p>Username: {{ userDetails.username }}</p>
          <p>Email: {{ userDetails.email }}</p>
          <p>Address: {{ userDetails.address }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
