@{
    string pageTitle = ViewBag.Header;
}
<html>
<head>
    <title>@pageTitle</title>
    <style>
        #button-id {
            display: inline-block;
            position: fixed;
            top: 16%;
            right: 40%;
        }

        .button {
            text-align: center;
            text-decoration: none;
            color: black;
            margin: 10px;
        }

            .button:hover {
                color: brown;
            }
    </style>
</head>
<body>
    <h1>@pageTitle</h1>
    <nav id="button-id">
        <a class="button" asp-controller="Staff" asp-action="">Back</a>
    </nav>
    <form asp-controller="Staff" asp-action="Create" method="POST">
        <label>First Name:</label><br />
        <input type="text" name="FirstName" /><br /><br />

        <label>Last Name:</label><br />
        <input type="text" name="LastName" /><br /><br />

        <label>Age:</label><br />
        <input type="number" name="Age" /><br /><br />

        <input type="submit" value="SAVE" />
    </form>
</body>
</html>